# Pasta de dependências
node_modules/

# Configurações locais
.env
.vscode/
__pycache__/

# Banco de dados e uploads
*.db
static/uploads/

# Arquivos temporários
*.log
.DS_Store
Thumbs.db

deu-match-backend/static/